.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 40vw;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--theme-color);

    &:focus {
        border: 2px solid var(--theme-color-focus);
    }
}

.button {
    position: absolute !important;;
    right: 0 !important;;
    height: 100% !important;;
    width: 5em !important;;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}