@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: #003049;
        --theme-color-focus: #464ee3;
    }
}

:root {
    --theme-color: #003049;
    --theme-color-focus: #464ee3;
}

* {
    font-family: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body, #root {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
    place-items: center;
    place-content: center;
}