:root {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html,body {
        width: 100%;
        max-width: 100%;
    }
    box-sizing: border-box;
    --theme-color: #535bf2;
    --theme-color-focus: #464ee3;
    font-family: "Roboto Light", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: #535bf2;
        --theme-color-focus: #464ee3;
    }
}
footer {
    margin: 0;
    padding: 0;
    border: none;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}




