@media (prefers-color-scheme: dark) {
    :root {
        --theme-color-blue: #003453;
        --theme-color-purple: #301F46;
        --theme-color-purple-focus: #523874;
    }
}

:root {
    --theme-color-blue: #003453;
    --theme-color-purple: #003453;
    --theme-color-purple-focus: #301F46;
}

* {
    font-family: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    color: #333;
}

html,body, #root {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
    place-items: center;
    place-content: center;
}