.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--theme-color-purple);
    background: var(--theme-color-purple);
    color: #eee;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem;

    &:hover {
        background: #fff;
        color: var(--theme-color-purple);
        border: 2px solid var(--theme-color-purple);
        cursor: pointer;
    }
}