.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid var(--theme-color-purple);
    border-radius: 5px;
}


.table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;

    thead {
        background-color: var(--theme-color-purple);
        color: white;

        tr {
            th {
                padding: 7px;
                text-align: left;
                font-size: 14px;
                user-select: none;
            }
        }
    }

    tbody {
        tr{
            &:nth-child(even) {
                background-color: #f8f9fa;
            }
            td {
                padding: 6px;
                position: relative;
                border: 1px solid #ddd;
                text-align: left;
                font-size: 14px;
            }
        }
    }
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
    width: 100%;
}

.copyicon {
    display: flex;
    align-items: center;
    gap: .4rem;
    width: 100%;
}

